mat-form-field {
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    width : 100%;
    flex: 100%;
}

.form {
    margin: auto;
    width: 40%;
}

.top {
    border-radius: 24px 24px 0 0;
    padding-top: 10px;
}

.bottom {
    border-radius: 0 0 24px 24px;
}

.add-button {
    border-radius: 24px;
    margin: 10px auto;
}